<h1>What's on your mind?</h1>
<br>
<form method=post action='/questions'>
	<input type=text placeholder="Question title" name="question[title]" style="width:500px"><br>
	<input type=text placeholder="Your question" name="question[description]" style="width:500px; height:40px"></br>
	<input type=submit value="Submit">
</form>