body {
    background-image: url("http://41.media.tumblr.com/c9f4b4925888c9fcdac273959a92172d/tumblr_o4tk5usdKs1tf8vylo1_1280.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table tr {
    background:rgba(112, 128, 144, 0.75);
}

table th {
    background-color: black;
    color: white;
}