<p><a href="/questions/index">Check out our top stories</a></p>
<% if logged_in? %>
<p><a href="questions/new">Ask a question</a></p>
<p><a href="/users/<%= current_user.id %>/questions/index">My questions</a></p>
<p><a href="/users/<%= current_user.id %>/answers/index">My answers</a></p>
<% end %>